:root {
  --primary-color: rgb(14, 210, 254); 
  --primary-color-dark: rgb(11, 157, 186);
  --box-color1: rgba(14, 210, 254, 0.4);
  --box-color2: rgba(14, 210, 254, 0.3);
  --box-color3: rgba(14, 210, 254, 0.2);
  --box-color4: rgba(14, 210, 254, 0.1);
  --box-color5: rgba(14, 210, 254, 0.05);
}






.bg-dark {
  background: #555;
}

.bg-light {
  background: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1.4;
  color: #333;
  scroll-behavior: smooth;
}

p {
  margin: 10px 0;
}

a {
  text-decoration: none;
}

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  font-size: 1rem;
  background: rgb(0, 0, 0);
  color: #fff;
  padding: 0 5rem;
  z-index: 10;
}

.navbar.top {
  background: transparent;
}

.navbar h2 {
  font-size: 1.7rem;
}

span {
  color: var(--primary-color);
}

.navbar h2 span i:hover {
  transform: rotate(-354deg);
  transition: all 1s ease;
}

.navbar ul  {
  display: flex;
  list-style: none;
}

.navbar ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 3rem;
  color: #fff;
  padding-top: 28px;
  padding-bottom: 28px;
}

.navbar .border:hover {
color: var(--primary-color);
border-bottom: 3px solid var(--primary-color);
}

.donate {
  display: inline;
  background: var(--primary-color);
  color: #333;
  padding: 13px 30px;
  font-size: 1rem;
  border-radius: 10px;
  /* margin-left: 120px; */
}

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #333;
  padding: 1rem 3rem;
  font-size: 1rem;
  border-radius: 10px;
  margin-top: 5rem;
}

.btn-simples {
  color: var(--primary-color);
}

.showcase-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.showcase-content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 5rem;
  background: url(https://source.unsplash.com/1600x900/?cats) no-repeat center center/cover;
  z-index: 1;
}

.showcase-content::after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #333;
  opacity: 0.7;
  z-index: -1;
}

.showcase-content h1 {
  color: #fff;
  font-size: 3rem;
  padding-bottom: 2rem;
  /* margin-bottom: 20px; */
  border-bottom: 1px solid var(--primary-color);
  transition: border-bottom 4s ease;
}

.showcase-content p {
  padding-top: 1.5rem;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 1;
  z-index: 5;
  margin: 0 8rem;
}

/* section two */
.container-info {
  /* background: #fff; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.content-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* border: 20px solid rgba(5, 5, 5, 0.482); */
  border-top: 15px solid var(--box-color1);
  border-bottom: 15px solid  var(--box-color1);
  background: url(https://source.unsplash.com/1600x900/?dogs) no-repeat center center/cover fixed;
  z-index: 5;
}

.content-info::after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #333;
  opacity: 0.8;
  z-index: -2;
}

.content-info h2 {
  padding: 2rem;
  font-size: 3rem;
  color: #fff;
}

.container-box {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.container-box .box1,
.container-box .box2,
.container-box .box3 {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 0 5rem;
  padding: 1rem 2rem;
  color: #333;
  background:  #fff;
  border: 1px solid var(--primary-color);
 box-shadow: var(--box-color1) 0px 5px, var(--box-color2) 0px 10px, var(--box-color3) 0px 15px, var(--box-color4) 0px 20px, var(--box-color5) 0px 25px;
  border-radius: 10px;
}

.container-box .box:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}

.icon {
  color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 15px;
}

.seta {
  margin-left: 5px;
}

.btn-simples:hover  {
  color: var(--primary-color-dark);
}
.btn-simples:hover .seta {
  margin-left: 10px;
  color: var(--primary-color-dark);
  transition: margin-left 1.3s ease;
}